
.page{
	border-width: 375px;
	height: 812px;
	background-color: #FBFBFB;
	border-radius: 30px;
}
.header {
	display: flex;
	justify-content: space-between;}				
.arrow {
	color: #292D32;
	width: 24px;
	height: 24px;
	margin-left: 40px;
	margin-top: 74px;
}
.heartList{
	margin-top: 50px; ;
}
.heart {
	color: #3EB489;
	width: 24px;
	height: 24px;
	margin-left: 266;
}
.list {
	color:#232323;
	width: 24px;
	height: 24px;
	margin-left: 53px;
	margin-right: 16px;
}
.title{
	margin-top: 20px;
    margin-left: 16px;
	color: #000000;
	Width:305px;
    Height:50px;
	font-weight: 500;
    font-size: 16px;
	line-height: 24px;
	@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css%22);
	font-family: 'Metropolis',sans-serif;
	font-style: normal;
}
.imageOne{

	margin-left: 17px;
	margin-top: 20px;
	width: 50px;
    height: 50px;
}
.para{

	color: #696969;
	width: 343px;
    height: 344px;
    margin-left: 16px;
	font-weight: normal;
    font-size: 14px;
    line-height: 21px;
	@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css%22);
	font-family: 'Metropolis',sans-serif;
}